*{
	box-sizing: border-box;
	margin:0;
}
html, body {
  margin: 0;
  padding: 0;
}
nav{
	width: 100%;
	height: 15vh;
/*	border:1px solid red;*/
	background-color: #fff;
}

nav div.container-fluid{
	width: 100%;
}
nav div.container-fluid div.navbar-header {
	width: 100%;
}

nav div.container-fluid div.navbar-header div.col-1-2-3{
	float: right;
	width: 30%;
}
nav div.container-fluid div.navbar-header a#brand>img{
	width: 7%;
	height: 7%;
/*	margin-top: 1%;*/
	margin-left: 3%;
}
nav div.container-fluid div.navbar-header div#main-menu {
	width: 100%;
	position: absolute;
	top:4%;
	left:25%;
}
nav div.container-fluid div.navbar-header div#main-menu ul>li{
	display: inline-block;
	font-size: 20px;
	margin-left: 1%;
	padding: 20px;
	font-family: 'Josefin Sans', sans-serif;
	
}
nav div.container-fluid div.navbar-header div#main-menu ul>li a{
	color: #555;
	text-decoration: none;
	transition: all .3s;
}
nav div.container-fluid div.navbar-header div#main-menu ul>li a:hover{
	color:#222;
}

nav div.container-fluid div.navbar-header div.social{
	width: 100%;
	position: absolute;
	top:5%;
	left:80%;
}

nav div.container-fluid div.navbar-header div.social ul>li{
	display: inline-block;
	font-size: 20px;
	margin-left: 1%;
	padding: 10px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	
}
nav div.container-fluid div.navbar-header div.social ul>li a{
	color: #555;
	text-decoration: none;
	transition: all .3s;
}
nav div.container-fluid div.navbar-header div.social ul>li a:hover{
	color:#456;
}
header#head-slider{
	width: 100%;
}
 #slider{
	overflow: hidden;
	height:100vh;
	position: relative;
/*	border:1px solid green;*/
}
.slide-show{
	position: absolute;
	height: 100%;	
/*	border:1px solid orange;*/
}
.slide-show .single-slide{
	position: absolute;
	top: 0;
	bottom: 0;
	
}
#slider .slide-show .single-slide img {
	border: none;
	width: 100%;
	min-height: 80vh;
/*	background-color:red;*/
	
}
#slider .slide-show .single-slide .slider-caption {
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	z-index: 5;
	margin: 0 auto;
	left: 10%;
	right: 0;
	font-size: 5em;
	text-transform: uppercase;
	color: #fff;
} 
#slider .slider-arrows a{
	top:50%;
	transform: translateY(-50%);
	font-size: 3em;
	color: #fff;
}
#slider .slider-arrows a:hover{
	color: #333;
}
#slider .slider-arrows .prev-slide{
	position: absolute;
	left: 0;
	z-index: 10;
}
#slider .slider-arrows .next-slide {
	position: absolute;
	right: 0;
	z-index: 10;
}

